@use "./Base/" as *;

.gamePageContainer {
  padding-top: 40px;
  box-sizing: border-box;

  .backButton {
    position: absolute;
    top: 40px;
    left: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;

    img {
      width: 154px;
    }
  }

  .outerCardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 174px;
    position: relative;

    @include responsive($screen-991) {
      gap: 40px;
    }

    .instructionBlueImage,
    .instructionRedImage {
      position: absolute;
      display: none;
      @include upDownAnimation();

      @include responsive($screen-991) {
        display: block;
      }
    }

    .instructionRedImage {
      top: -220px;
      left: 150px;
    }

    .instructionBlueImage {
      bottom: -250px;
      right: 100px;
    }

    .cardsContainer {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 1;
      max-width: 600px;
      flex-shrink: 1;
      justify-content: space-between;
      gap: 35px;

      @include responsive($screen-991) {
        margin-right: 20px;
        margin-left: 20px;
      }

      .cardHolder {
        width: 173px;
        height: 221px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .gameOverModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.692);

    img {
      cursor: pointer;
    }

    .score {
      @include centerAbsolute();
      transform: translate(-110px, -190px);
      font-family: Nunito;
      font-size: $font-28;
      font-weight: 800;
      line-height: 99px;
      letter-spacing: 0.02em;
      text-align: center;
      color: $white;

      @include responsive($screen-991) {
        font-size: $font-56;
        transform: translate(-170px, -190px);
      }
    }

    .buttonContainer {
      position: absolute;
      top: 180px;
      width: 100%;
      display: flex;
      justify-content: center;

      @include responsive($screen-991) {
        top: auto;
        bottom: 60px;
        justify-content: flex-end;
      }

      .actionButton {
        background: transparent;
        border: none;
        cursor: pointer;
        width: fit-content;
      }
    }

    .matchModalImageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .matchImages {
        @include responsive($screen-991) {
          transform: translate(-140px, -140px);
          display: flex;
        }
      }

      .img {
        cursor: none;

        &:nth-of-type(1) {
          @include responsive($screen-991) {
            transform: translateY(-100px) rotate(-15deg);
          }
        }

        &:nth-of-type(2) {
          @include responsive($screen-991) {
            transform: translateY(50px) rotate(15deg);
          }
        }
      }

      .message {
        font-family: Nunito;
        font-size: $font-56;
        font-weight: 800;
        line-height: 131px;
        letter-spacing: 0.08em;
        text-align: center;
        color: $orange;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $white;

        @include responsive($screen-991) {
          margin-left: 700px;
          font-size: 96px;
        }
      }

      .letter {
        transform: translate(0px, 120px);
        @include responsive($screen-991) {
          transform: translate(90px);
        }
      }
    }
  }
}

.letterCard {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20px, -20px);
  }

  p {
    position: absolute;
    font-family: Nunito;
    font-size: 97px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0em;
    text-align: center;
    // transform: translate(50px, -50px);
    color: $purple;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $white;
  }
}

.imageCard {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .playingCardImage {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20px, -20px);
    width: 100%;
  }

  .fruitImage {
    position: absolute;
    width: 50%;
  }
}
