@use "./Base/" as *;

.instructionContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 300px;
  padding: 0 40px;
  position: relative;

  @include responsive($screen-991) {
    margin-top: 240px;
  }

  .bgPath {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
  }

  .cardContainer {
    width: 351px;
    height: 438px;
    border-radius: 69px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .imageContainer {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-position: top left;
      }
    }

    &:nth-child(4) {
      .imageContainer {
        img {
          transform: translate(-10px, 60px);
        }
      }
    }

    .numberTag {
      position: absolute;
      left: 0px;
      top: 280px;

      .tagBg {
        position: absolute;
        z-index: 0;
        left: -4px;
      }

      p {
        position: relative;
        z-index: 1;
        font-family: Nunito;
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 0.02em;
        text-align: center;
        color: $white;
        transform: translate(10px, -24px);
      }
    }

    .subDescription {
      font-family: Nunito;
      font-size: $font-24;
      font-weight: 800;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: center;
      color: $text-green;
    }

    .description {
      font-family: Nunito;
      font-size: 40px;
      font-weight: 800;
      line-height: 55px;
      letter-spacing: 0em;
      text-align: center;
      color: $text-color;
    }

    .cardShadow {
      position: absolute;
      bottom: -40px;
      left: -40px;
      width: 430px;
      height: 62px;
      border-radius: 50%;
      background: $card-shadow-gradient;
      z-index: -1;
    }
  }
}
