$text-color: #11aec6;
$white: #fff;
$text-green: #a6c930;
$orange: #ef8f35;
$purple: #8776f0;
$grey: #e2f2f5;
$yellow: #ffcf25;
$red: #ff2525;

$card-shadow-gradient: linear-gradient(0deg, #9fc514, #9fc514),
  linear-gradient(0deg, #9fc514, #9fc514),
  linear-gradient(0deg, #9fc514, #9fc514);
